doctype html
html(lang='en')
  head
    meta(http-equiv='content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0;')
    style.
      body {
      font-family: 'Roboto', Arial, sans-serif;
      height: 100% !important;
      margin: 0;
      min-width: 100%;
      padding: 0;
      width: 100% !important;
      }
      body, table, td, div, p, a {
      line-height: 100%;
      text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      }
      table, td {
      border-collapse: collapse !important;
      border-spacing: 0;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      }
      @media all and (min-width: 560px) {
      .container {
      border-radius: 10px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -khtml-border-radius: 8px;
      }
      .table-header h4 {
      border-radius: 10px 10px 0 0;
      }
      }
    title Added as User
  body(topmargin='0' rightmargin='0' bottommargin='0' leftmargin='0' marginwidth='0' marginheight='0' width='100%' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%; height: 100%; -webkit-font-smoothing: antialiased; text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; line-height: 100%; background-color: #ececec; color: #333333;' bgcolor='#ececec' text='#333333')
    // WRAPPER TABLE
    table(width='100%' align='center' border='0' cellpadding='0' cellspacing='0' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; width: 100%;')
      tr
        td(align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;' bgcolor='#ececec')
          // WRAPPER
          table
            td
              div(style='text-align: center;margin-top: 30px;')
                h1(style='font-weight: bold; font-size: 24px;color: #000;margin: 0;')
                  a(href='/index' target='_blank' style='color: #000;\
    text-decoration: none;')
                    span(style='display: inline-block;font-weight: bold;color: #e1552f;margin-bottom: 0;') Savoz
          table.container(border='0' cellpadding='0' cellspacing='0' align='center' bgcolor='#ffffff' width='700' style='border-collapse: collapse; border-spacing: 0; padding: 0; width: inherit; max-width: 700px; margin: 20px 0 0 0;')
            // PRIMARY IMAGE
            tr
              td.table-header(align='center' valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;')
                h4(style='background-color: #E1552F; margin: 0;padding: 40px 15px;color: #fff;font-size: 26px;font-weight: 700;line-height: normal;')
                  | Admin User Creation
            // CONTENT
            tr
              td(valign='top' style='border-collapse: collapse; border-spacing: 0; margin: 0; padding: 6.25%; width: 100%;')
                p(style='color: #333333; font-size: 16px; font-weight: 500; line-height: 100%; margin: 30px 0 10px 0; padding: 0;') Hi, 
                p(style='font-size: 15px; font-weight: 400; line-height: 140%; color: #333333; margin-bottom: 15px;')
                  | You are added as user in Savoz store management system. Your login details are as follow,
                br
                p(style='color: #333333; font-size: 15px; font-weight: 300; line-height: 100%; margin: 10px 0 0 0; padding: 0;') Email: #{data.email}
                p(style='color: #333333; font-size: 15px; font-weight: 300; line-height: 100%; margin: 10px 0 10px 0; padding: 0;') Password: #{data.password}
                br
                a(href=`${token}`) Login Here
                br
            